.home-container {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 15px 0px 10px 0px;
}

.filters-products {
  display: flex;
  align-items: flex-start;
  padding-left: 8vw;
  padding-right: 8vw;
}
